/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.singeHomeCard {
  margin: 40px auto;
}

.homeCards a {
  color: white;
}

.homeCardText {
  text-shadow: 1px 2px 2px black;
}


/* builds page */

.buildsPageTitle {
padding: 40px 0;
  text-align: center;
color: white;
text-shadow: 2px 2px 0px #999fa3, 4px 4px 0px rgba(0,0,0,0.25);
}

.buildVideos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.buildVideos a {
  color: white;
}

.buildVideo {
  margin: 20px 0;
}

.dropdownOptions a{
  text-decoration: none;
  color: black;
}

.buildsArea {
  background-image: url('../public/buildsBackground.jpg');
  
}

/* footer ///////////////////////////////////////////////////// */

.footer {
  /* border: 1px solid red; */
display: flex;
flex-direction: column;

text-align: center;
}

.patreonArea {
  /* border: 1px solid green; */
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}

.socialLinksFooter {
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 10px 15px;
  padding-top: 20px;
}
